html,
body {
  padding: 0;
  margin: 0;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.leaflet-container{
            width: 100%;
            height: 100%;
        }
.button-primary{
  @apply px-4 py-2 rounded-md  bg-teal-500 flex items-center capitalize  font-medium active:bg-teal-600 text-white 
}

.button-secondary{
  @apply px-4 py-2 rounded-md flex bg-red-500 items-center capitalize font-medium active:bg-red-600 text-white text-center
}

@tailwind base;
@tailwind components;
@tailwind utilities;